@{
    this.ViewBag.Title = "Общ чат";
}

<h1 class="text-center">@this.ViewBag.Title  <i class="far fa-comments"></i></h1>

<div class="container">
    <div id="message-holder" class="mt-3 d-flex justify-content-start">
        <input class=" col-sm-10 col-md-10 form-control" style="height: 50px" type="text" id="messageInput" placeholder="Съобщение..." />
        <button id="sendButton" class="col-sm-2 col-md-2 btn btn-success btn-lg">Изпрати</button>

    </div>
    <button id="addToAdminGroup" class="col-sm-2 col-md-2 btn btn-success btn-lg">Add To Admin Group</button>
    <button id="removeFromAdminGroup" class="col-sm-2 col-md-2 btn btn-success btn-lg">Remove from Admin Group</button>
    <hr style="height: 5px;" class="bg-gray-600" />
    <div id="messagesList" style="font-size: 28px;">
    </div>
</div>

@section Scripts {
    <script src="~/js/chat.js"></script>
}