<div class="monitor-error">
    <div class="monitor-holder">
        <div class="monitor">
            <div>
                <div class="error-status"><div class="typing-demo">404</div></div>
                <div class="error-message">< <div class="typing-demo">not found</div> ></div>
            </div>
        </div>
    </div>
    <div class="links">aaaaaaaaa</div>
</div>