@{
    ViewData["Title"] = "Home";
}

<div class="logged-user-index">
    <div class="cards">
        <div class="card-holder">
            <div class="card-header capitalize">Мy courses</div>
            <div class="card-info">
                <ul>
                    <li class="info-item">
                        <a href="~/media/logo.png">
                            ASP.NET Core - юни 2021
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-links credits regal-blue">
                Total points: 100
            </div>
        </div>
        <div class="card-holder">
            <div class="card-header capitalize">My Homework</div>
            <div class="card-info">
                <ul>
                    <li>
                        <a href="~/media/logo.png">logo</a>
                    </li>
                </ul>
            </div>
            <div class="card-links">
                <input class="primary-btn base-btn mb-2" value="All homeworks" />
            </div>
        </div>
        <div class="card-holder">
            <div class="card-header capitalize">Мy Resources</div>
            <div class="card-info">
                <ul>
                    <li>
                        <a href="~/media/logo.png">logo</a>
                    </li>
                </ul>
            </div>
            <div class="card-links">
                <input class="primary-btn base-btn mb-2" value="All resouces" />
            </div>
        </div>
    </div>
</div>