@{
    ViewData["Title"] = "Home";
}
@using DeemZ.Web.Models.ViewModels.User
@model IndexUserViewModel

<div class="logged-user-index">
    <div class="cards">
        <div class="card-holder">
            <div class="card-header capitalize">Мy courses</div>
            <div class="card-info">
                <ul>
                    @if (Model.Courses.Any())
                    {
                        @foreach (var course in Model.Courses)
                        {
                            <li class="info-item">
                                <a href="./Course/ViewCourse?courseId=@course.Id">
                                    @course.Name
                                    <span class="arrow-right">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="info-item">
                            You currently have no courses enrolled
                        </li>
                    }
                </ul>
            </div>
            <div class="card-links credits regal-blue">
                Total points: @Model.Credits
            </div>
        </div>
        <div class="card-holder">
            <div class="card-header capitalize">My Homework</div>
            <div class="card-info">
                <ul>
                    <li>
                        <a href="~/media/logo.png">logo</a>
                    </li>
                </ul>
            </div>
            <div class="card-links">
                <input class="primary-btn base-btn mb-2" value="All homeworks" />
            </div>
        </div>
        <div class="card-holder">
            <div class="card-header capitalize">Мy Resources</div>
            <div class="card-info">
                <ul>
                    <li>
                        <a href="~/media/logo.png">logo</a>
                    </li>
                </ul>
            </div>
            <div class="card-links">
                <input class="primary-btn base-btn mb-2" value="All resouces" />
            </div>
        </div>
    </div>
</div>