@{ 
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminPanelLayout";
}
<div class="container-fluid">
    <div class="cards">
        <div class="card user-card">
            <h4>Total users</h4>
            <h3>13451351</h3>
        </div>
        <div class="card this-month-money-card">
            <h4>This month earned money</h4>
            <h3>$13451351</h3>
        </div>
        <div class="card total-courses-card">
            <h4>Total courses</h4>
            <h3>13451351</h3>
        </div>
        <div class="card this-month-user-card">
            <h4>This month sign up users</h4>
            <h3>200</h3>
        </div>
    </div>
</div>