.messages-holder {
  min-height: 100vh;
  margin-bottom: 0px;
}

.mt-4 {
  margin-top: 15px;
}

.mt-3 {
  margin-top: 10px;
}

.mb-2 {
  margin-bottom: 5px;
}

.del-btn {
  color: red;
  float: right;
}
.del-btn:hover {
  color: white !important;
  background-color: red;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  cursor: pointer;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #04aa6d;
}
@media only screen and (max-width: 880px) {
  .messages-holder {
    width: 99%;
  }
}
