/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.small-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.smaller-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.messages-holder {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 6rem;
}

.spinner {
  margin: 0 auto;
}

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-body {
  background-color: #161616 !important;
  color: white !important;
}

.dark-question {
  background: #262626 !important;
}

.dark-header {
  background-color: #242526 !important;
  color: white !important;
}

.dark-header-a,
.dark-icon {
  text-decoration: none;
  color: white !important;
}

.dark-footer {
  background-color: #242526 !important;
  color: white !important;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
