<div class="message">
    <div class="image">
        <img class="small-image" src="https://i.ibb.co/tLxRnSs/test.jpg" alt="">
    </div>
    <div class="message-info">
        <div class="message-options">
            <span class="author-name">Berat Dzhevdetov</span>
            <span class="message-sent-on">, Sent on: 09.10.2021 6:53 PM</span>
            <div class="message-options-right">
                <i class="fa fa-trash delete-message" aria-hidden="true"></i>
                <i class="fa fa-pencil edit-message" aria-hidden="true"></i>
            </div>
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quia aliquid rerum harum,
            possimus
            repudiandae laudantium alias excepturi tempora maxime, sapiente incidunt. Et tempore, veniam vel
            accusantium cumque laborum dignissimos ad.
        </div>
    </div>
</div>