<div class="message">
    <div class="image">
        <img class="small-image" [src]=message.applicationUserImgUrl alt="">
    </div>
    <div class="message-info">
        <div class="message-options">
            <span class="author-name">{{message.applicationUserUsername}}</span>
            <span class="message-sent-on">, Sent: {{message.sentOn | dateTimeFormatter}}</span>
            <div class="message-options-right">
                <i class="fa fa-trash delete-message" aria-hidden="true"></i>
                <i class="fa fa-pencil edit-message" aria-hidden="true"></i>
            </div>
        </div>
        <div class="content">
            {{message.content}}
        </div>
    </div>
</div>