@{
    Layout = DeemZ.Global.WebConstants.Constant.LayOut.AdminLayout;
    ViewData["Title"] = "Add Partner";
}
@model DeemZ.Models.FormModels.Partner.AddPartnerFormModel

<div class="container-fluid">
    <form method="post" class="mt-4" enctype="multipart/form-data">
        <div class="form-group text-center">
            <h2 class="text-light">@ViewData["Title"]</h2>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="LogoImage"></label>
            <input accept=".jpeg,.jpg,.png" id="logoInput" class="form-control" asp-for="LogoImage" />
            <img hidden id="partnerLogo" alt="Upload partners logo" />
            <span asp-validation-for="LogoImage" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Url"></label>
            <input class="form-control" asp-for="Url" />
            <span asp-validation-for="Url" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Tier"></label>
            <select class="form-control" asp-for="Tier">
                @foreach (var tier in Model.Tiers){
                    <option value="@tier.Key">@tier.Value</option>
                }
            </select>
            <span asp-validation-for="Tier" class="small text-danger"></span>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="@ViewData["Title"]" />
        </div>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script>
        const input = document.getElementById('logoInput');
        input.addEventListener('change', (e) => {
            let output = document.getElementById('partnerLogo');
            
            if(output.hidden === true){
                output.hidden = false;
                output.classList.add('wide-image');
                output.classList.add('mt-3');
            }
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
              URL.revokeObjectURL(output.src); // free memory
            }
        })
</script>
}