@{
    ViewData["Title"] = "All Partners";
    Layout = DeemZ.Global.WebConstants.Constant.LayOut.DefaultLayOut;
}

<div class="flex partner-header">
    <h1>Partners</h1>
    <p>To start a partnership with DeemZ or just want to send an inquiry, use the "Make an inquiry"
        button or contact us by email: deemzonline@gmail.com</p>
</div>
<div class="partner-tier-navigation flex">
    <div class="partner-tier">
        <a href="#">Diamond</a>
    </div>
</div>

<div class="star-tier-partners-holder">
    <div class="tier-partners">
        <div class="tier-stars">
            <img src="~/media/star_icon.svg" />
            <img src="~/media/star_icon.svg" />
            <img src="~/media/star_icon.svg" />
        </div>
        <span class="mt-4">
            The Diamonds
        </span>
    </div>
    <div class="partner-cards-holder flex mt-4">
        <div class="partner-card">
            <div class="partner-logo">
                <img src="~/media/logo.png" />
            </div>
            <div class="partner-name">
                DeemZ
            </div>
        </div>
        <div class="partner-card">
            <div class="partner-logo">
                <img src="~/media/logo.png" />
            </div>
            <div class="partner-name">
                DeemZ
            </div>
        </div>
        <div class="partner-card">
            <div class="partner-logo">
                <img src="~/media/logo.png" />
            </div>
            <div class="partner-name">
                DeemZ
            </div>
        </div>
        <div class="partner-card">
            <div class="partner-logo">
                <img src="~/media/logo.png" />
            </div>
            <div class="partner-name">
                DeemZ
            </div>
        </div>
    </div>
</div>