@model TakeSurveyViewModel
@{ 
    ViewData["Title"] = Model.Name;
}

<div class="survey">
    <div class="survey-heading text-center">
        <h1>
            Welcome to @Model.Name!
        </h1>
        <h3>
            Please give us 5 minutes to improve our quality!
        </h3>
    </div>
</div>