@{
    Layout = DeemZ.Global.WebConstants.Constant.LayOut.AdminLayout;
    ViewData["Title"] = "Add Course";
}
@model DeemZ.Models.FormModels.Course.AddCourseFormModel

<div class="container-fluid">
    <form method="post" class="mt-4">
        <div class="form-group text-center">
            <h2 class="text-light">@ViewData["Title"]</h2>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Name"></label>
            <input placeholder="ASP.NET Core - July @DateTime.Now.Year" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="StartDate"></label>
            <input class="form-control" asp-for="StartDate" />
            <span asp-validation-for="StartDate" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="EndDate"></label>
            <input class="form-control" asp-for="EndDate" />
            <span asp-validation-for="EndDate" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Price"></label>
            <input placeholder="Default price is 220" class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Credits"></label>
            <input placeholder="15" class="form-control" asp-for="Credits" />
            <span asp-validation-for="Credits" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="SignUpStartDate"></label>
            <input class="form-control" asp-for="SignUpStartDate" />
            <span asp-validation-for="SignUpStartDate" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="SignUpEndDate"></label>
            <input class="form-control" asp-for="SignUpEndDate" />
            <span asp-validation-for="SignUpEndDate" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-light" asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="BasicLectures" />
            <label class="text-light">Create automatically basic lectures</label>
        </div>
        <div class="form-group">
            <input asp-for="Redirect" />
            <label class="text-light">Refer me to the course page</label>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="@ViewData["Title"]" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}