<div class="user-iteration" id="user-iteration" [class.dark-question]=!this.LocalStorage.userOptions.isWhiteTheme>
    <div class="write-question-image">
        <img class="smaller-image" [src]=this.LocalStorage.data.ApplicationUserImageUrl>
    </div>
    <div class="ask-question-input-holder">
        <form #form='ngForm' ngForm method="post">
            <textarea type="text" id="question" name="question" id="question" #questionInput="ngModel" ngModel required
                placeholder="Type your question" class="ask-question-input"
                [disabled]="!this.questionService.doesUserHaveAccess" [(ngModel)]="this.question"></textarea>

            <div *ngIf="questionInput.touched &&questionInput.errors?.required" class="validation-error">You cannot post
                empty questions!
            </div>

            <button class="postBtn" type="button" (click)="postQuestion(form)" [disabled]="
            questionInput.errors?.required || !this.questionService.doesUserHaveAccess">
                <i class="fas fa-paper-plane" [class.dark-icon]=!this.LocalStorage.userOptions.isWhiteTheme></i>
            </button>
        </form>
    </div>
</div>