<div class="user-iteration" id="user-iteration">
    <div class="write-question-image">
        <img class="smaller-image" src="https://i.ibb.co/tLxRnSs/test.jpg">
    </div>
    <div class="ask-question-input-holder">
        <form #form='ngForm' ngForm method="post">
            <textarea type="text" id="question" name="question" id="question" #questionInput="ngModel" ngModel required
                placeholder="Type your question" class="ask-question-input" [(ngModel)]="this.question"></textarea>

            <div *ngIf="questionInput.touched &&questionInput.errors?.required" class="validation-error">You cannot post
                empty questions!
            </div>

            <button class="postBtn" type="button" (click)="postQuestion(form)" [disabled]="
            questionInput.errors?.required">
                <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>
</div>