<div class="modal-container" [class.show]=getPopupState()>
    <div class="modal" [class.dark-header]=!this.localStorage.userOptions.isWhiteTheme>
        <div class="close-modal" id="close-modal" (click)=closeBurger()>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <h2>LiteChat Options:</h2>
        <dl class="table-display">
            <dt>
                <i class="fas fa-moon"></i>Theme
            </dt>
            <dd>
                <label class="switch" (input)=changeTheme()>
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </dd>
            <dt>
                Order Messages by
            </dt>
            <dd>
                <select class="order-msgs-options" (change)="sortOptions()" [(ngModel)]="selectedSort">
                    <option selected disabled hidden value="CurrentOptionKey">Current Option Value</option>
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
            </dd>
        </dl>
    </div>
</div>