@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <img id="imgUrl" alt="Profile image" src="@Model.ImgUrl" class="clickable" style="border-radius: 50%; width: 200px; height:200px;" />
                <input onchange="previewFile()" id="img" asp-for="Img" class="form-control" style="display: none" />
                <span asp-validation-for="Img" class="text-danger"></span>
                @if (Model.ImgUrl != DeemZ.Data.DataConstants.User.DefaultProfilePictureUrl)
                {
                    <br />
                    <a asp-area="" asp-controller="User" asp-action="DeleteProfilePicture" class="btn btn-danger">Delete Picture</a>
                }
            </div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const imgUrl = document.getElementById('imgUrl');
        const imgInput = document.getElementById('img');

        imgUrl.addEventListener('click', e => {
            imgInput.click();
        });

        function previewFile() {
            let file = document.querySelector('input[type=file]').files[0];
            let reader = new FileReader();

            reader.onloadend = function () {
                imgUrl.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                imgUrl.src = "";
            }
        }

    </script>
}