@{
    this.ViewBag.Title = "Admin Chat";
    Layout = DeemZ.Global.WebConstants.Constant.LayOut.AdminLayout;
}

<h1 class="text-center text-white">@ViewBag.Title  <i class="far fa-comments"></i></h1>

<div class="container">
    <div class="messages-holder" id="messagesList">
    </div>
    <div class="m-5"></div>
    <form class="wide-form" enctype="multipart/form-data">
        <div class="new-message-holder">
            <div id="message-holder" class="mt-3 justify-content-start">
                <div class="input-image-holder" id="input-image-holder">
                </div>
                <div class="sender-holder">
                    <label class="chat-label">
                        <textarea autocomplete="off" class="chat-textarea" id="messageInput" placeholder="Message..."></textarea>
                    </label>
                    <button id="sendButton" class="col-sm-2 col-md-2 btn send-btn btn-success btn-lg">Send</button>
                </div>
                <input id="groupId" type="hidden" value="@ViewBag.GroupId" />
            </div>
        </div>
    </form>
    <div id="currentUserId">@ViewBag.UserId</div>
</div>

@section Scripts {
<script src="~/js/chat.js"></script>
<script src="~/js/chatRoom.js"></script>
<script src="~/js/chat-images.js"></script>
}