@{
    this.ViewBag.Title = "Admin Chat";
    Layout = DeemZ.Global.WebConstants.Constant.LayOut.AdminLayout;
}

<h1 class="text-center text-white">@ViewBag.Title  <i class="far fa-comments"></i></h1>

<div class="container">
    <div class="messages-holder" id="messagesList">
    </div>
    <form class="wide-form">
        <div id="message-holder" class="mt-3 d-flex justify-content-start">
            <input autocomplete="off" class=" col-sm-10 col-md-10 form-control" style="height: 50px" type="text" id="messageInput" placeholder="Message..." />
            <button id="sendButton" class="col-sm-2 col-md-2 btn btn-success btn-lg">Send</button>
            <input id="groupId" type="hidden" value="@ViewBag.GroupId" />
        </div>
    </form>
    <div id="currentUserId">@ViewBag.UserId</div>
</div>

@section Scripts {
    <script src="~/js/chat.js"></script>
    <script src="~/js/chatRoom.js"></script>
}