<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>@ViewData["Title"] - DeemZ Administration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<body>
    <div class="flex page-holder">
        <div class="left">
            <div class="logo clickable">
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/media/logo.png" alt="DeemZ Logo" />
                </a>
            </div>
            <div class="mobile-dropdown clickable">
                <span class="text-light">Show links</span>
                <i class="fas fa-arrow-down"></i>
            </div>
            <div class="links-holder">
                <div class="admin-link">
                    <i class="fas fa-chart-line"></i>
                    <a class="text-white" asp-controller="Administration" asp-action="Index">Dashboard</a>
                </div>
                <div class="admin-link">
                    <i class="fas fa-laptop-code"></i>
                    <a class="text-white" asp-controller="Administration" asp-action="Courses">Courses</a>
                </div>
                <div class="admin-link">
                    <i class="fa fa-user"></i>
                    <a class="text-white" asp-controller="Administration" asp-action="Users">Users</a>
                </div>
                <div class="admin-link">
                    <i class="fas fa-bullhorn"></i>
                    <a class="text-white" asp-controller="Administration" asp-action="Reports">Reports</a>
                </div>
                <div class="admin-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <a class="text-white" asp-controller="Home" asp-action="Index">Exit</a>
                </div>
            </div>
        </div>
        <div class="right">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>