@using Microsoft.AspNetCore.Identity
@using DeemZ.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link white-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage Profile">
                <img class="profile-picture" src="@UserManager.GetUserAsync(User).Result.ProfileImgUrl" />
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home" , new { area="" })">
                <button type="submit" class="nav-link btn btn-link white-text">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link white-text" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white-text" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
        </li>
    }
</ul>
