@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="p-5 text-center">
    <h1>Confirm email</h1>
    <p>You just confirm your email successfully!</p>
    <a asp-area="Identity" asp-page="/Account/Login">Go to sign in</a>
</div>