@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="text-center flex flex-direction-column p-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        We send you an email confirmation. Please check your inbox or spam.
    </p>
</div>