@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="form gray-background mt-4 round-bottom">
    <form method="post">
        <div class="image-holder">
            <img src="~/media/sign-in-background.png" />
            <div>
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="p-3">
            <div class="form-group">
                <div class="inner-addon">
                    <input asp-for="Input.Email" placeholder="Email" type="email" value="">
                    <i class="fa fa-envelope fa-envelope-custom" aria-hidden="true"></i>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Send Email</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
