<div class="access-denied-div" *ngIf="!this.questionService.doesUserHaveAccess">
    <!-- <mat-spinner class="spinner" *ngIf="!this.userData"></mat-spinner> -->
    <img *ngIf="!this.questionService.doesUserHaveAccess" class="access-denied-image"
        src="https://images-na.ssl-images-amazon.com/images/I/511JzaWDULL.png">
</div>

<div *ngIf="this.userData" class="header" [class.dark-header]=!this.localStorage.userOptions.isWhiteTheme>
    <a>
        <i id="burger" class="fas fa-bars" (click)=showBurger()></i>
    </a>
    <a class="course-link" href="https://localhost:5001/Course/ViewCourse?courseId={{userData.CourseId}}"
        [class.dark-header-a]=!this.localStorage.userOptions.isWhiteTheme>
        {{userData.CourseName}}
    </a>

    <div class="header-right">
        <div class="nav-link" style="padding: 0;">
            <img *ngIf="this.questionService.doesUserHaveAccess" class="small-image"
                [src]="userData.ApplicationUserImageUrl">
            <img *ngIf="!this.questionService.doesUserHaveAccess" class="small-image"
                src="https://images-na.ssl-images-amazon.com/images/I/511JzaWDULL.png">
        </div>
        <div class="nav-link logo">LiteChat</div>
    </div>
</div>