<mat-spinner class="spinner" *ngIf="!this.userData"></mat-spinner>
<div *ngIf="this.userData" class="header">
    <a>
        <i id="burger" class="fas fa-bars"></i>
    </a>
    <a href="https://localhost:5001/Course/ViewCourse?courseId={{userData.CourseId}}">
        {{userData.CourseName}}
    </a>
    <div class="header-right">
        <div class="nav-link" style="padding: 0;">
            <img class="small-image" [src]=userData.ApplicationUserImageUrl>
        </div>
        <div class="nav-link logo">LiteChat</div>
    </div>
</div>