<div class="access-denied-div" *ngIf="!this.questionService.doesUserHaveAccess">
    <!-- <mat-spinner class="spinner" *ngIf="!this.userData"></mat-spinner> -->
    <img *ngIf="!this.questionService.doesUserHaveAccess" class="access-denied-image"
        src="https://images-na.ssl-images-amazon.com/images/I/511JzaWDULL.png">
</div>

<div *ngIf="this.userData" class="header">
    <a>
        <i id="burger" class="fas fa-bars"></i>
    </a>
    <a href="https://localhost:5001/Course/ViewCourse?courseId={{userData.CourseId}}">
        {{userData.CourseName}}
    </a>
    <div class="header-right">
        <div class="nav-link" style="padding: 0;">
            <img *ngIf="this.questionService.doesUserHaveAccess" class="small-image"
                [src]="userData.ApplicationUserImageUrl">
            <img *ngIf="!this.questionService.doesUserHaveAccess" class="small-image"
                src="https://images-na.ssl-images-amazon.com/images/I/511JzaWDULL.png">
        </div>
        <div class="nav-link logo">LiteChat</div>
    </div>
</div>