
<form asp-controller="Exam" asp-action="Take">
    <input type="password" name="password" autocomplete="off" />
    <input readonly type="hidden" name="examId" value="@ViewBag.ExamId"/>
    <input type="submit" value="submit"/>
</form>