@{ 
    ViewData["Title"] = "Password for exam";
}
<div class="form gray-background mt-4 round-bottom">
    <form method="post" asp-controller="Exam" asp-action="Take">
        <div class="image-holder">
            <img src="~/media/forgot-password-background.jpg" />
            <div>
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="p-3">
            <div class="form-group">
                <div class="inner-addon">
                    <input name="password" placeholder="Password" type="password">
                    <i class="fa fa-envelope fa-envelope-custom" aria-hidden="true"></i>
                    <span class="text-danger">@ViewBag.PasswordValidation</span>
                </div>
                <input readonly type="hidden" name="examId" value="@ViewBag.ExamId" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}