@model ViewExamViewModel
@{
    var index = 1;
    ViewData["Title"] = Model.Name;
}
<div class="exam-holder">
    <div class="exam-header">
        <h2>@Model.Name</h2>
    </div>
    <div class="exam-content">
        @foreach (var question in Model.Questions)
        {
            var userAnswerId = Model.UserAnswers[question.Id];
            var point = userAnswerId == question.Answers.First(x => x.IsCorrect).Id ? question.Points : 0;
            <div class="question">
                <div class="question-header">
                    @index. @question.Text - @point Point(s)
                </div>
                <div class="qustion-list">
                    @foreach (var answer in question.Answers)
                    {
                        var divClass = answer.Id == userAnswerId ? "class=your-answer" : "class=pl-3";
                        <div @divClass>
                            <label>
                                @if (answer.IsCorrect)
                                {
                                    <i class="fas fa-check"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times"></i>
                                }
                                @answer.Text
                            </label>
                        </div>
                    }
                </div>
            </div>
            index++;
        }
    </div>
</div>