* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --very-dark-gray: #121212;
    --very-dark-gray-lighter: #181818;
}

.flex {
    display: flex;
}

.left {
    width: 20%;
    background-color: var(--very-dark-gray);
    color: var(--white);
    height: 100vh;
}

.right {
    width: 80%;
    height: 100vh;
    background: var(--very-dark-gray-lighter);
    min-height: 100vh;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.admin-link {
    padding: 1rem;
}

.mobile-dropdown {
    padding: 1rem;
    display: none;
    justify-content: space-between;
}

.logo img {
    padding: 1rem 1rem 0rem 1rem;
    width: 100%;
    min-height: 100px;
}

.clickable {
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.card::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-size: cover;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 41px 30px;
    position: relative;
    background: #3B76EF;
}

    .card h4 {
        font-size: 17px;
        margin-bottom: 0;
        font-weight: 700;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        color: #fff;
        margin-bottom: 12px;
    }

    .card h3 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0;
        font-weight: 900;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        color: #fff;
        margin-bottom: 7px;
    }



.number {
    font-weight: 600;
    font-size: 24px;
}

.user-card {
    background-color: #3B76EF;
}

.this-month-money-card {
    background-color: #63C7FF;
}

.this-month-user-card {
    background: #A66DD4;
}

.total-courses-card {
    background: #6DD4B1;
}

.pages {
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

    .pages .page-number {
        border: 1px solid #ccc;
        padding: 0.6rem;
        width: auto;
        text-align: center;
        margin-left: 3px;
        margin-right: 3px;
    }

        .pages .page-number a {
            display: block;
        }

form {
    width: 50%;
    margin: 0 auto;
}

.wide-form {
    width: 100%
}

.remove-description {
    position: absolute;
    top: 18%;
    right: 2%;
    color: #8b0000;
}

.messages-holder {
    padding: 1rem 0rem;
    height: 70vh;
}

.message-holder {
    max-width: 75%;
    align-items: center;
    margin: 10px 0px;
}

.my-message-holder {
    width: fit-content;
    max-width: 75%;
    margin: 10px 0 10px auto;
    text-align: right;
}

.username{
    margin-left: 8px;
}

img.small-img {
    width: 30px;
    height: 30px;
}

img.rounted-img {
    border-radius: 50%;
}

.message-holder .message {
    padding: 10px;
    word-break: break-word;
    min-height: 20px;
    background: #373737;
    border-radius: 4px 20px 20px 4px;
    margin-left: 5px;
}

.my-message-holder .message {
    padding: 10px;
    min-height: 20px;
    background: #373737;
    border-radius: 20px 4px 4px 20px;
    word-break: break-word;
}

@media only screen and (max-width: 800px) {
    .card {
        padding: 14px 35px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .page-holder {
        flex-direction: column;
    }

    .right {
        width: 100%;
    }

    .left {
        width: 100%;
        height: auto;
    }

    .logo img {
        display: block;
        width: 200px;
        margin: 0 auto;
    }

    .links-holder {
        display: none;
    }

    .mobile-dropdown {
        display: flex;
    }

    .container-fluid {
        margin: 0;
        padding: 0;
    }

    th, td {
        border-style: solid;
        border-width: 5px;
        word-wrap: break-word;
    }

    table {
        width: 100%;
        overflow-x: auto !important;
    }

    form {
        width: 90%;
    }
}
