/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --white: #f9f9fb;
    --regal-blue: #234465;
    --orange: #FFA000;
    --cyan: #44a9f8;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

ul.no-bullets {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.arrow-right {
    float: right;
    background: var(--orange);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    text-align: center;
}

    .arrow-right:hover, .info-item:hover + .arrow-right {
        background: var(--regal-blue);
    }

.fa-play {
    font-size: 10px;
    transform: translateY(-2px);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: var(--cyan);
}

.white-text {
    color: #f3f3f3 !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.regal-blue {
    background-color: #234465 !important;
}

.regal-blue-text {
    color: #234465;
}

.capitalize {
    text-transform: uppercase;
}

.navbar-brand img {
    width: 120px;
    height: 70px;
}

.guest-users-container {
    background-color: var(--white);
    width: 100%;
    color: #f3f3f3;
    height: 100%;
}

    .guest-users-container h1 {
        font-size: 40px;
    }

    .guest-users-container .header-section {
        padding: 10rem 6rem;
        position: relative;
        background: linear-gradient( 140deg,rgba(28,39,52,.92),rgba(54,135,198,.92)), url("https://softuni.bg/Content/images/home-page/header-section-background.jpg") center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .guest-users-container .benefits-section-wrapper {
        filter: drop-shadow(0 5px 10px rgba(0,0,0,.5));
    }

    .guest-users-container .benefits-section-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .guest-users-container .benefits-section {
        background: #234465;
        clip-path: ellipse(100% 60% at 50% 40%);
    }

    .guest-users-container .benefits-section-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .guest-users-container .benefits-section-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 280px;
        padding: 50px 15px;
    }

        .guest-users-container .benefits-section-container .benefits-section-row {
            display: flex;
            justify-content: space-between;
        }

    .guest-users-container .benefits-section-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .guest-users-container .benefits-section-item .benefits-icon-wrapper {
            width: 65px;
        }

        .guest-users-container .benefits-section-item .benefits-info-wrapper {
            width: 200px;
            margin-left: 15px;
        }

svg:not(:root) {
    overflow: hidden;
}

.guest-users-container .benefits-section-item .benefits-icon-wrapper path {
    fill: var(--white);
}

.guest-users-container .seo-section {
    display: flex;
    flex-direction: row;
    margin: 2rem 0.5rem;
}

    .guest-users-container .seo-section .left,
    .guest-users-container .seo-section .right {
        width: 50%;
        color: #000;
        padding: 1.5rem;
    }

        .guest-users-container .seo-section .left h2 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 500;
            font-family: 'Montserrat-Medium',sans-serif;
            font-weight: normal;
            font-style: normal;
            margin: 20px 0 10px 0;
        }

        .guest-users-container .seo-section .right img {
            width: 100%;
            margin: 1rem 0;
        }

    .guest-users-container .seo-section .right {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

.guest-users-container .apply {
    background: url("https://softuni.bg/Content/images/home-page/home-page-apply.png") center;
    background-size: cover;
    padding: 2rem;
}

.logged-user-index .cards {
    padding: 0 2.5rem;
}

.logged-user-index .card-holder {
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-basis: 100%;
}

.logged-user-index {
    background: #D3D3D3;
}

    .logged-user-index .card-header {
        text-align: center;
        font-weight: 700;
        letter-spacing: 3px;
        background: #ECEAF0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
    }

    .logged-user-index .card-info {
        background: #fff;
        min-height: 300px;
    }

        .logged-user-index .card-info ul {
            list-style-type: none;
        }

            .logged-user-index .card-info ul li {
                position: relative;
            }

                .logged-user-index .card-info ul li a {
                    display: block;
                }

    .logged-user-index .card-holder .card-info .info-item {
        word-wrap: break-word;
        padding: 20px 0 18px 0;
        border-bottom: 1px solid #ccc;
        margin: 0 20px 0 20px;
    }

    .logged-user-index .card-links {
        color: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        font-weight: 700;
        background: #fff;
    }

    .logged-user-index .credits {
        padding: 0.5rem;
    }

    .logged-user-index .cards {
        display: flex;
        flex-direction: row;
    }

.base-btn {
    display: inline-block;
    line-height: 100%;
    background-color: #ffa000;
    border: 2px solid transparent;
}

.primary-btn {
    display: inline-block;
    padding: 6px 15px;
    line-height: 100%;
    font-size: 13px;
    color: #fff;
    text-align: center;
    font-family: "LatoBlack","Arial","Helvetica",sans-serif;
    border: 2px solid #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    transition: all .2s ease;
}

.navbar-collapse{
    background: var(--regal-blue);
}

.inner-addon {
    position: relative;
}

.form-group {
    position: relative;
}

.form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 10px 5px 5px #ccc;
}

.gray-background {
    background: #EAEFF0;
}

.form input {
    height: 52px;
    width: 100%;
    font-size: 16px;
    padding-left: 60px;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
}

    .form input:focus {
        border-bottom: 2px solid #0275d8;
    }


.inner-addon i {
    position: absolute;
    padding: 10px;
    font-size: 24px;
    pointer-events: none;
    top: 0;
    left: 5px;
}

.round-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form .image-holder {
    background-color: rgba(54,84,99,.7);
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
}

    .form .image-holder img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 180px;
    }

    .form .image-holder div {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        color: var(--white);
        background-color: rgba(54,84,99,.7);
        width: 100%;
        height: 100%;
        margin: 0px;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        text-align: center;
        flex-grow: 100;
    }

        .form .image-holder div h1 {
            margin: auto;
            width: 50%;
            padding: 55px 0;
            height: 100%;
            text-align: center;
        }

input[type=checkbox] {
    width: 15px;
    height: 15px;
}
@media only screen and (max-width: 1050px) {
    .logged-user-index .cards {
        flex-direction: column;
    }

    .logged-user-index .card-holder {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .guest-users-container .benefits-section-container {
        flex-direction: row;
    }

        .guest-users-container .benefits-section-container .benefits-section-row {
            flex-direction: column;
            justify-content: space-around;
        }

    .guest-users-container .header-section {
        padding: 5rem 2rem;
    }

        .guest-users-container .header-section h1 {
            font-size: 2rem;
        }

        .guest-users-container .header-section h2 {
            font-size: 1.5rem;
        }
}

@media only screen and (max-width: 950px) {
    .guest-users-container .seo-section {
        display: block;
        margin: 0 auto;
    }

        .guest-users-container .seo-section .left,
        .guest-users-container .seo-section .right {
            width: 100%;
        }
}

@media only screen and (max-width:800px) {
    .form {
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    .guest-users-container .benefits-section-item {
        justify-content: center;
        margin-left: 0;
        padding-bottom: 10px;
    }

    .guest-users-container .benefits-section-container {
        flex-direction: column;
    }

    .form {
        width: 80%;
    }
}


@media only screen and (max-width: 400px) {
    .logged-user-index .cards {
        padding: 0;
    }

    .form {
        width: 92%;
    }
}

@media only screen and (max-width: 350px) {
    .logged-user-index .cards .card-holder {
        padding: 1rem 0;
    }

    .form .image-holder div h1 {
        width: 70%;
    }
}
