.user-iteration {
  background-color: #ccc;
  border-radius: 15px;
  height: 75px;
  padding: 15px;
  display: flex;
}

.ask-question-input {
  height: 45px;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  resize: none;
}

.ask-question-input::-webkit-scrollbar {
  display: none;
}

.ask-question-input-holder {
  width: 100%;
}

.postBtn {
  outline: none;
  border: none;
  height: 50%;
  width: fit-content;
  padding: 0px 20px;
  /* border-radius: 12px; */
  /* color: white; */
  background: transparent;
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.validation-error {
  color: red;
}

i {
  color: #172e4e;
  font-size: 25px;
}
